.productCard {
  max-width: 20vw;
  margin: 5vh 0;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(219, 246, 255, 0.3);
  -moz-box-shadow: 10px 10px 5px 0px rgba(219, 246, 255, 0.3);
  box-shadow: 10px 10px 5px 0px rgba(219, 246, 255, 0.3);
}

.productCard > .content{
    padding: 10px;
}

.productCard > .content > div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}